{% extends "nav_bar.html" %}

{% block title%} Annotation {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        
        <div class="jumbotron">
            <div class="col">
                <h2 class="display-5">Specialized NER for Any Dataset:
                </h2>
                <hr class="my-4">
            </div>
            
            <div class="row">

                <div class="col">
                    <p class="lead">Whatever the field this bottom up approach will identify any named entity
                        specific to the problem at hand.
                        Even highly specialized medical data can be parsed through research and specialized models.</p>
                    <p class="lead">This Machine Learning solution starts from the ground up. By identifying important
                        text elements models are able to extract information from even the most specialized data sets.</p>
                    </div>
            </div>
            <div class="row">
                    <div class="col">
                        <img src="../static/images/word_cloud.png" class="img-thumbnail border-0">
                    </div>
                    <div class="col">
                        <img src="../static/images/word_cloud2.png" class="img-thumbnail border-0">
                    </div>
                    <div class="col">
                        <img src="../static/images/word_cloud3.png" class="img-thumbnail border-0">
                    </div>
                </div>
                <hr class="my-4">
                <a href="/demo" class="btn btn-primary btn-lg btn-block">Try Demo</a>

        </div>
        <div class="jumbotron">
            <h2 class="display-5">
                Speed up Annotation with Model Predictions:</h2>
            <hr class="my-4">

            <p class="lead">
                As the model learns from annotations it can be used to pre-label data and speed up annotation process up
                to 4x.
            </p>
            <img src="../static/images/annotation_sample.png" class="img-thumbnail border-0">
            <hr class="my-4">

        </div>

        <div class="jumbotron">
            <h2 class="display-5">Metric Tracking All the Way</h2>
            <hr class="my-4">

            <img src="../static/images/metrics.png" class="img-thumbnail border-0">
            <hr class="my-4">

            <p class="lead">
                Models are constantly tracking performance for each defined entity. If the model struggles with certain
                elements they can be excluded from predictions.
            </p>
        </div>

        <div class="jumbotron">
            <h2 class="display-5">
                Instant Insights:
            </h2>
            <hr class="my-4">

            <p class="lead">
                Models will instantly identify useful entities and parse them into usable information. Extraction tool
                can be run on entire datasets to uncover further insights from raw text.
            </p>
            <img src="../static/images/insights.png" class="img-thumbnail border-0">
            <hr class="my-4">

            <p class="lead">Identify numeric entities and instantly see distributions in your dataset.</p>

        </div>
        <div class="jumbotron">
            <h2 class="display-5">
                Seamless Integration with Dataturks Service:
            </h2>
            <hr class="my-4">

            <img src="../static/images/dataturks.png" class="img-thumbnail border-0">
            <hr class="my-4">

            <p class="lead">
                Fits in easily with Dataturks annotation services. Simply add one click to the pipeline to get automated
                annotation, metric tracking, and a production ready models.
            </p>
            <hr class="my-4">
            <a href="https://github.com/LiamWoodRoberts/Dataturks-NER-Tools" class="btn btn-primary btn-lg btn-block">See Documentation</a>
        </div>


    </div>
</div>
</div>

{% endblock %}